
@{
    ViewBag.Title = "DanhMuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tenDanhMucCha = ViewBag.TenDanhMucCha;
    List<Cua_Hang_Thu_Cung.Models.tblSanPham> listSanPham = ViewBag.ListSanPham;
}



<!-- Start All Title Box -->
<div class="all-title-box" style="background: url(../Images/Slider/bn-dog.jpg) no-repeat center center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Sản phẩm</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/trang-chu">Trang chủ</a></li>
                    <li class="breadcrumb-item active">@tenDanhMucCha</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Sắp xếp </span>
                                <select id="basic" class="selectpicker show-tick form-control" data-placeholder="VND">
                                    <option data-display="Select">...</option>
                                    <option value="1">Giá Thấp → Cao</option>
                                    <option value="2">Giá Cao → Thấp</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <span>@ViewBag.SL sản phẩm. </span>
                    <div class="product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">

                                    @foreach (var item in listSanPham)
                                    {
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    @if (item.gia_khuyen_mai != null)
                                                    {
                                                        Decimal km =100 - (item.gia_khuyen_mai / item.gia_ban) * 100;
                                                        String km1 = km.ToString("#");
                                                        if (item.gia_ban > item.gia_khuyen_mai)
                                                        {
                                                            <div class="type-lb">
                                                                <p class="sale">- @km1 %</p>
                                                            </div>
                                                        }
                                                    }

                                                    <img src="~/Images/SanPham/@item.hinhanh" class="img-fluid" alt="@item.ten_sanpham">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="/san-pham/@item.meta_name-@item.id_sanpham" data-toggle="tooltip" data-placement="right" title="Xem"><i class="fas fa-eye"></i></a></li>
                                                        </ul>
                                                        <a class="cart" href="#">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h4><a href="/san-pham/@item.meta_name-@item.id_sanpham">@item.ten_sanpham</a></h4>

                                                    @if (item.gia_khuyen_mai != null)
                                                    {
                                                        if (item.gia_ban > item.gia_khuyen_mai)
                                                        {
                                                            <h5> <del>@item.gia_ban đ</del> @item.gia_khuyen_mai đ</h5>
                                                        }
                                                        else
                                                        {
                                                            <h5> @item.gia_ban đ</h5>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }






                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="list-view">


                                @foreach (var item in listSanPham)
                                {
                                    <div class="list-view-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        @if (item.gia_khuyen_mai != null)
                                                        {
                                                            Decimal km = (item.gia_khuyen_mai / item.gia_ban) * 100;
                                                            String km1 = km.ToString("#");
                                                            if (item.gia_ban > item.gia_khuyen_mai)
                                                            {
                                                                <div class="type-lb">
                                                                    <p class="sale">- @km1 %</p>
                                                                </div>
                                                            }
                                                        }
                                                        <img src="~/Images/SanPham/@item.hinhanh" class="img-fluid" alt="@item.ten_sanpham">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="/san-pham/@item.meta_name-@item.id_sanpham" data-toggle="tooltip" data-placement="right" title="Xem"><i class="fas fa-eye"></i></a></li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width">
                                                    <h4>@item.ten_sanpham</h4>
                                                    @if (item.gia_khuyen_mai != null)
                                                    {
                                                        if (item.gia_ban > item.gia_khuyen_mai)
                                                        {
                                                            <h5> <del>@item.gia_ban đ</del> @item.gia_khuyen_mai đ</h5>
                                                        }
                                                        else
                                                        {
                                                            <h5> @item.gia_ban đ</h5>
                                                        }
                                                    }
                                                    <p>
                                                       @item.mo_ta
                                                    </p>
                                                    <a class="btn hvr-hover" href="#">Thêm vào giỏ</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }





                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form action="#">
                            <input class="form-control" placeholder="Bạn muốn tìm ..." type="text">
                            <button type="submit"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>

                    @{Html.RenderAction("Menu", "SanPham");}

                    <div class="filter-price-left">
                        <div class="title-left">
                            <h3>Giá</h3>
                        </div>
                        <div class="price-box-slider">
                            <div id="slider-range"></div>
                            <p>
                                <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                <button class="btn hvr-hover" type="submit">Lọc</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->
